<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
  <div class="container " id="hide" style="display:none">
  <h2 id="room"></h2>
    <div class="form-group" id="charge">
      <input type="number" class="form-control"  placeholder="Cost of the Room per month" name="email" min=100 max=100000 onchange="Onchange('charge',this.value)">
    </div>

    <div data-toggle="buttons">
        <div class="btn-group btn-group-justified">
            <label class="btn btn-default">
                <input type="radio" onchange="Onchange('type','AC')">AC
            </label>
            <label class="btn btn-default">
                <input type="radio" onchange="Onchange('type','No/AC')">No/AC
            </label>
    </div>
    </div>

    <div data-toggle="buttons">
        <div class="btn-group btn-group-justified">
            <label class="btn btn-default">
                <input type="radio" onchange="Onchange('paymentDone','PAID')"> Paid
            </label>
            <label class="btn btn-default">
                <input type="radio" onchange="Onchange('paymentDone','NOPAID')"> Not Paid
            </label>
        </div>
    </div>

    </br>
    <button type="submit" onclick="DoUpdate()" class="btn btn-success">Submit</button>
</div>
</br>


<script>
  var payload={};
  function Update(gp,val){
      payload[gp]=val;
      document.getElementById("room").innerText=`Edit Room ${val}`;
      document.getElementById("hide").style="display:block";
  }

  function DoUpdate(){
    console.log(payload);
    createPayload(()=>{
        document.getElementById("hide").style="display:none";
      },"/updateRoom");
  }

  function Delete(gp,val){
    
      payload[gp]=val;
      console.log(payload);
      createPayload(console.log,"/deleteRoom");
  }

  function Onchange(gp,val){
      payload[gp]=val;
  }

  function createPayload(callback,url){
      console.log(JSON.stringify(payload) )
      fetch(url, {
      method: 'POST', 
      credentials: 'same-origin', 
      headers: {
      'Content-Type': 'application/json'
      },
      referrerPolicy: 'no-referrer', 
      body: JSON.stringify(payload) 
     }).then(response => response.json())
       .then(data =>{
       if(data=="SUCCESS"){
        
         location.reload();
       }    
       else{
         setErrorMessage(JSON.stringify(data));
       }
       callback();
       payload={};
      });
  }

  function getData(){
      fetch("/getAdminHome", {
      method: 'GET', 
      credentials: 'same-origin', 
      headers: {
      'Content-Type': 'application/json'
      },
      referrerPolicy: 'no-referrer', 
      }).then(response => response.json())
      .then(data=>{
        var html = '<div class="container" style="margin-top:10px;"><table class="table table-hover table-bordered">';
        html += '<tr>';
        Actions="No Rooms available now"
        $.each(data[0], function(index, value){
            html += '<th>'+index+'</th>';
            Actions="Actions";
            
            
        });
        html += `<th>${Actions}</th>`;
        html += '</tr>';
        $.each(data, function(index, value){
            html += '<tr>';
            console.log(index,value)
            $.each(value, function(index2, value2){
                html += '<td>'
                html +=(value2 == 0 ? "NoStudent" : value2)+""
                html+='</td>';
            });
            html += `<td><button class=btn-warning onclick="Update('room_id',${value.room_id})">Edit</button>`;
            html += value.available=="AVAILABLE" ? `<button style="margin-left:10px;" class=btn-danger onclick="Delete('room_id',${value.room_id})">Delete</button></td>`: '</td>';
            html += '</tr>';
        });
        html += '</table></div>';
        $('body').append(html);
        $('body').append(`<button type="button" class="btn btn-success " style="margin-left:19%;" data-dismiss="modal" onclick="window.location='createroom.html'">Add room</button>`);
        $('body').append(`</br> <button type="submit" onclick="window.location='/logout'" <button style="margin-left:8%;margin-top:1px;" class="btn btn-success">LogOut</button>`)
    });
  }

  function setErrorMessage(data){
      document.getElementById("mod").innerText=data;
      $('#myModal').modal('show'); 
    }
   window.onload=getData;
</script>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close " id="btn" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
      </div>
      <div class="modal-body">
        <p id="mod"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location='home.html'">Close</button>
      </div>
    </div>
    
  </div>
</div>
<style>

</style>
</body>
</html>
