<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
  <div class="container  "  style="margin-top:100px;" id="hide">
  <h2>Student Home</h2>

<script>
  var payload={};
  function Join(gp,val){
      payload={}
      payload[gp]=val;
      console.log(gp,val)
      createPayload("/project/addStudentRoom");
  }

  function Vacate(gp,val){
      payload={}
      payload[gp]=val;
      console.log(gp,val)
      createPayload("/project/leaveRoom");
  }


  function createPayload(url){
      fetch(url, {
      method: 'POST', 
      credentials: 'same-origin', 
      headers: {
      'Content-Type': 'application/json'
      },
      referrerPolicy: 'no-referrer', 
      body: JSON.stringify(payload) 
     }).then(response => response.json())
    .then(data =>{
         setErrorMessage(JSON.stringify(data));
      });
  }

  function setErrorMessage(data){
        document.getElementById("mod").innerText=data;
        $('#myModal').modal('show'); 
        }

  function getData(){
      fetch("/project/getStudentHome", {
      method: 'GET', 
      credentials: 'same-origin', 
      headers: {
      'Content-Type': 'application/json'
      },
      referrerPolicy: 'no-referrer', 
      }).then(response => response.json())
    .then(data=>{
        console.log(data);
        var html = '<div class="container" style="margin-top:10px;"><table class="table table-hover table-bordered">';
        html += '<tr>';
        Actions="No Rooms available now"
        $.each(data[0], function(index, value){
            html += '<th>'+index+'</th>';
            Actions="Actions";
            
            
        });
        html += `<th>${Actions}</th>`;
        html += '</tr>';
        $.each(data, function(index, value){
            html += '<tr>';
            console.log(index,value)
            $.each(value, function(index2, value2){
                html += '<td>'+value2+'</td>';
            });
            fname=value.available=="AVAILABLE" ? "Join" : "Vacate";
            html += `<td><button class=btn-danger onclick="${fname}('room_id',${value.room_id})">`;
            html+=value.available=="AVAILABLE" ? "JoinRoom" : "Vacate" ;
            html+=`</button></td>`;
            html += '<tr>';
        });
        html += '</table></div>';
        $('body').append(html);
    });

   }

   window.onload=getData;
</script>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close " id="btn" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Error Message</h4>
        </div>
        <div class="modal-body">
          <p id=mod></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location='studenthome.html'">Close</button>
        </div>
      </div>
      
    </div>
  </div>



</body>
</html>
